@model MVCStok.Models.Entity.TBLKATEGORILER
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using (Html.BeginForm("Guncelle", "Kategori", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.kategoriID)
        @Html.TextBoxFor(m => m.kategoriID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.kategoriAd)
        @Html.TextBoxFor(m => m.kategoriAd, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-outline-success">Kategoriyi Güncelle</button>
    </div>
}